<div class="your-class">
    <div>
        <img src="../assets/images/Slide1.jpg" alt="" width="100%">
    </div>
    <div>
        <img src="../assets/images/Slide2.jpg" alt="" width="100%">
    </div>
    <div>
        <img src="../assets/images/Slide3.jpg" alt="" width="100%">
    </div>
    <div>
        <img src="../assets/images/Slide4.jpg" alt="" width="100%">
    </div>
    <div>
        <img src="../assets/images/Slide5.jpg" alt="" width="100%">
    </div>
    <div>
        <img src="../assets/images/Slide6.jpg" alt="" width="100%">
    </div>
</div>